* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    overflow: hidden;
}

.links line {
    stroke-width: 3px;
    stroke-opacity: 0.6;
}

.nodes circle {
    fill: #32ade6;
    stroke: #fff;
    stroke-width: 1.5px;
}

.space {
    width: 100vw;
    height: 100vh;
}

text {
    fill: #3a3a3c;
    paint-order: stroke;
    stroke: white;
    stroke-width: 5px;
    stroke-linecap: butt;
    stroke-linejoin: miter;
}

.red {
    stroke: #ff3b30;
}

.gray {
    stroke: #aeaeb2;
}

.settings {
    position: absolute;
    top: 0;
    left: 0;

    padding: 10px;

    background-color: rgba(255, 255, 255, 0.8);

    border-radius: 0 0 10px 0;
}

button {
    position: relative;
    display: block;
    width: 100%;
    padding: 6px 4px;
    margin: 10px 0;
    cursor: pointer;
}

.regen-btn {
    margin-bottom: 25px;
}

.option {
    text-align: right;
    margin-bottom: 15px;
}

input {
    width: 70px;
}

h3 {
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;
}